openapi: 3.1.0
info:
  title: QuickBooks Online Accounting API
  description: >-
    The QuickBooks Online Accounting API is a RESTful API that provides
    programmatic access to QuickBooks Online company data. This specification
    covers core entities including invoices, customers, items, and payments,
    enabling developers to automate accounting workflows, synchronize financial
    data, and extend QuickBooks Online functionality for small and mid-sized
    businesses. All API calls require OAuth 2.0 authorization and a valid
    company ID (realmId). Responses follow the Intuit entity response envelope
    pattern, and the API supports minor version parameters to access newer
    fields and behaviors without breaking existing integrations.
  version: "75"
  termsOfService: https://developer.intuit.com/app/developer/qbo/docs/learn/terms-of-service
  contact:
    name: Intuit Developer Support
    url: https://help.developer.intuit.com
    email: developer-support@intuit.com
  license:
    name: Intuit Developer Terms of Service
    url: https://developer.intuit.com/app/developer/qbo/docs/learn/terms-of-service
  x-logo:
    url: https://developer.intuit.com/app/developer/common/imgs/IntuitDev_Logo.svg

externalDocs:
  description: QuickBooks Online API Documentation
  url: https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/account

servers:
  - url: https://quickbooks.api.intuit.com/v3/company/{realmId}
    description: Production
    variables:
      realmId:
        description: >-
          The QuickBooks Online company ID (realm ID) that uniquely identifies
          the company dataset to operate on.
        default: "1234567890"
  - url: https://sandbox-quickbooks.api.intuit.com/v3/company/{realmId}
    description: Sandbox
    variables:
      realmId:
        description: >-
          The sandbox company ID for testing and development purposes.
        default: "1234567890"

security:
  - oauth2: []

tags:
  - name: Invoices
    description: >-
      An Invoice represents a sales form where the customer pays for a product
      or service later. QuickBooks records an accounts receivable transaction
      for each invoice.
    externalDocs:
      url: https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/invoice
  - name: Customers
    description: >-
      A Customer object represents a consumer of the service or product that
      the business offers. The Customer entity allows you to categorize
      customers into jobs and sub-customers.
    externalDocs:
      url: https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/customer
  - name: Items
    description: >-
      An Item represents a product or service that a company buys, sells, or
      re-sells, such as products, shipping charges, discount, and sales tax
      (if applicable). Items are used in line items on invoices and other
      transaction entities.
    externalDocs:
      url: https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/item
  - name: Payments
    description: >-
      A Payment object records a payment received from a customer against one
      or more invoices or credit memos. Payments can be applied to specific
      invoices or left as unapplied credits.
    externalDocs:
      url: https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/payment

paths:
  /invoice:
    post:
      operationId: createInvoice
      summary: Create an invoice
      description: >-
        Creates a new invoice. At minimum, the request must include a
        CustomerRef and at least one Line item. The TxnDate defaults to the
        current date if not specified. QuickBooks automatically calculates
        totals, tax, and balance fields.
      tags:
        - Invoices
      parameters:
        - $ref: "#/components/parameters/minorVersion"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Invoice"
      responses:
        "200":
          description: Invoice created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"

  /invoice/{invoiceId}:
    get:
      operationId: readInvoice
      summary: Read an invoice
      description: >-
        Retrieves the details of an invoice that has been previously created.
        Supply the unique invoice ID returned from a previous create or query
        request.
      tags:
        - Invoices
      parameters:
        - $ref: "#/components/parameters/invoiceId"
        - $ref: "#/components/parameters/minorVersion"
      responses:
        "200":
          description: Invoice retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      operationId: updateInvoice
      summary: Update an invoice
      description: >-
        Updates an existing invoice. A full update replaces the entire entity
        with the data provided. The request must include the Id and SyncToken
        fields from the latest read of the entity. Writable fields omitted
        from the request body are set to NULL.
      tags:
        - Invoices
      parameters:
        - $ref: "#/components/parameters/invoiceId"
        - $ref: "#/components/parameters/minorVersion"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Invoice"
      responses:
        "200":
          description: Invoice updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /invoice/{invoiceId}/send:
    post:
      operationId: sendInvoice
      summary: Send an invoice via email
      description: >-
        Sends the specified invoice via email to the address associated with
        the customer's BillEmail. You can override the destination email by
        providing a sendTo query parameter.
      tags:
        - Invoices
      parameters:
        - $ref: "#/components/parameters/invoiceId"
        - name: sendTo
          in: query
          description: Override destination email address
          schema:
            type: string
            format: email
        - $ref: "#/components/parameters/minorVersion"
      responses:
        "200":
          description: Invoice sent successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /invoice/{invoiceId}/void:
    post:
      operationId: voidInvoice
      summary: Void an invoice
      description: >-
        Voids the specified invoice. The invoice remains in the system with a
        voided status. The request body must include the Id and SyncToken of
        the invoice. The operation=void parameter must also be included.
      tags:
        - Invoices
      parameters:
        - $ref: "#/components/parameters/invoiceId"
        - name: operation
          in: query
          required: true
          schema:
            type: string
            enum:
              - void
        - $ref: "#/components/parameters/minorVersion"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - Id
                - SyncToken
              properties:
                Id:
                  type: string
                SyncToken:
                  type: string
      responses:
        "200":
          description: Invoice voided successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /invoice/{invoiceId}/pdf:
    get:
      operationId: getInvoicePdf
      summary: Get invoice as PDF
      description: >-
        Returns the specified invoice as a PDF document. The response content
        type is application/pdf.
      tags:
        - Invoices
      parameters:
        - $ref: "#/components/parameters/invoiceId"
        - $ref: "#/components/parameters/minorVersion"
      responses:
        "200":
          description: PDF retrieved successfully
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /query:
    get:
      operationId: queryEntities
      summary: Query entities
      description: >-
        Executes a SQL-like query against QuickBooks Online entities. The query
        language supports SELECT, WHERE, ORDER BY, COUNT, STARTPOSITION, and
        MAXRESULTS clauses. This endpoint is used to query invoices, customers,
        items, payments, and other entity types.
      tags:
        - Invoices
        - Customers
        - Items
        - Payments
      parameters:
        - name: query
          in: query
          required: true
          description: >-
            A SQL-like query string. For example: SELECT * FROM Invoice WHERE
            TotalAmt > '100.00' ORDERBY TxnDate
          schema:
            type: string
          example: "SELECT * FROM Invoice WHERE TotalAmt > '100.00' MAXRESULTS 10"
        - $ref: "#/components/parameters/minorVersion"
      responses:
        "200":
          description: Query executed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /customer:
    post:
      operationId: createCustomer
      summary: Create a customer
      description: >-
        Creates a new customer. At minimum, the request must include a
        DisplayName that is unique across all Customer, Employee, and Vendor
        objects. Additional fields such as billing address, email, and phone
        can be set during creation.
      tags:
        - Customers
      parameters:
        - $ref: "#/components/parameters/minorVersion"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Customer"
      responses:
        "200":
          description: Customer created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /customer/{customerId}:
    get:
      operationId: readCustomer
      summary: Read a customer
      description: >-
        Retrieves the details of a customer that has been previously created.
        Supply the unique customer ID.
      tags:
        - Customers
      parameters:
        - $ref: "#/components/parameters/customerId"
        - $ref: "#/components/parameters/minorVersion"
      responses:
        "200":
          description: Customer retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      operationId: updateCustomer
      summary: Update a customer
      description: >-
        Updates an existing customer. The request body must include the Id and
        SyncToken. A sparse update is supported by including only the fields
        that need to change along with the sparse=true parameter.
      tags:
        - Customers
      parameters:
        - $ref: "#/components/parameters/customerId"
        - name: sparse
          in: query
          description: Set to true for a sparse (partial) update
          schema:
            type: boolean
        - $ref: "#/components/parameters/minorVersion"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Customer"
      responses:
        "200":
          description: Customer updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /item:
    post:
      operationId: createItem
      summary: Create an item
      description: >-
        Creates a new item (product or service). At minimum, the request must
        include a Name, Type (Inventory, NonInventory, or Service), and
        appropriate account references (IncomeAccountRef, ExpenseAccountRef,
        and AssetAccountRef for inventory items).
      tags:
        - Items
      parameters:
        - $ref: "#/components/parameters/minorVersion"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Item"
      responses:
        "200":
          description: Item created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ItemResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /item/{itemId}:
    get:
      operationId: readItem
      summary: Read an item
      description: >-
        Retrieves the details of an item that has been previously created.
        Supply the unique item ID.
      tags:
        - Items
      parameters:
        - $ref: "#/components/parameters/itemId"
        - $ref: "#/components/parameters/minorVersion"
      responses:
        "200":
          description: Item retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ItemResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      operationId: updateItem
      summary: Update an item
      description: >-
        Updates an existing item. The request must include the Id and
        SyncToken. Sparse updates are supported.
      tags:
        - Items
      parameters:
        - $ref: "#/components/parameters/itemId"
        - name: sparse
          in: query
          description: Set to true for a sparse (partial) update
          schema:
            type: boolean
        - $ref: "#/components/parameters/minorVersion"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Item"
      responses:
        "200":
          description: Item updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ItemResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /payment:
    post:
      operationId: createPayment
      summary: Create a payment
      description: >-
        Creates a new payment received from a customer. The payment can be
        applied to one or more outstanding invoices using the Line array with
        LinkedTxn references. If TotalAmt exceeds the sum of linked
        transactions, the remainder is treated as an unapplied amount.
      tags:
        - Payments
      parameters:
        - $ref: "#/components/parameters/minorVersion"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Payment"
      responses:
        "200":
          description: Payment created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /payment/{paymentId}:
    get:
      operationId: readPayment
      summary: Read a payment
      description: >-
        Retrieves the details of a payment that has been previously created.
        Supply the unique payment ID.
      tags:
        - Payments
      parameters:
        - $ref: "#/components/parameters/paymentId"
        - $ref: "#/components/parameters/minorVersion"
      responses:
        "200":
          description: Payment retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      operationId: updatePayment
      summary: Update a payment
      description: >-
        Updates an existing payment. The request must include the Id and
        SyncToken. Use this to change the linked transactions, payment method,
        or other details.
      tags:
        - Payments
      parameters:
        - $ref: "#/components/parameters/paymentId"
        - name: sparse
          in: query
          description: Set to true for a sparse (partial) update
          schema:
            type: boolean
        - $ref: "#/components/parameters/minorVersion"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Payment"
      responses:
        "200":
          description: Payment updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /payment/{paymentId}/void:
    post:
      operationId: voidPayment
      summary: Void a payment
      description: >-
        Voids the specified payment. The payment is not deleted but marked as
        voided. The request body must include the Id and SyncToken. Include
        the operation=void query parameter.
      tags:
        - Payments
      parameters:
        - $ref: "#/components/parameters/paymentId"
        - name: operation
          in: query
          required: true
          schema:
            type: string
            enum:
              - void
        - $ref: "#/components/parameters/minorVersion"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - Id
                - SyncToken
              properties:
                Id:
                  type: string
                SyncToken:
                  type: string
      responses:
        "200":
          description: Payment voided successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: >-
        Intuit uses OAuth 2.0 for authorization. Apps must be registered on
        the Intuit Developer portal to obtain client credentials. Access tokens
        have a 60-minute lifetime and can be refreshed using refresh tokens
        (100-day lifetime).
      flows:
        authorizationCode:
          authorizationUrl: https://appcenter.intuit.com/connect/oauth2
          tokenUrl: https://oauth.platform.intuit.com/oauth2/v1/tokens/bearer
          refreshUrl: https://oauth.platform.intuit.com/oauth2/v1/tokens/bearer
          scopes:
            com.intuit.quickbooks.accounting: Access to QuickBooks Online Accounting API

  parameters:
    minorVersion:
      name: minorversion
      in: query
      description: >-
        The minor version of the API to use. Minor versions introduce new
        fields and behaviors without breaking existing integrations. If
        omitted, the base version behavior is used.
      schema:
        type: integer
        minimum: 1
        maximum: 75
      example: 75
    invoiceId:
      name: invoiceId
      in: path
      required: true
      description: The unique identifier for the invoice
      schema:
        type: string
    customerId:
      name: customerId
      in: path
      required: true
      description: The unique identifier for the customer
      schema:
        type: string
    itemId:
      name: itemId
      in: path
      required: true
      description: The unique identifier for the item
      schema:
        type: string
    paymentId:
      name: paymentId
      in: path
      required: true
      description: The unique identifier for the payment
      schema:
        type: string

  schemas:
    ReferenceType:
      type: object
      description: >-
        A reference type used throughout the API to link entities. Contains
        the ID value and optionally the display name of the referenced entity.
      properties:
        value:
          type: string
          description: The ID of the referenced entity
        name:
          type: string
          description: An identifying name for the referenced entity
      required:
        - value

    PhysicalAddress:
      type: object
      description: Physical (mailing) address
      properties:
        Id:
          type: string
          description: Unique identifier for the address
        Line1:
          type: string
          description: First line of the street address
          maxLength: 500
        Line2:
          type: string
          description: Second line of the street address
          maxLength: 500
        Line3:
          type: string
          description: Third line of the street address
          maxLength: 500
        Line4:
          type: string
          description: Fourth line of the street address
          maxLength: 500
        Line5:
          type: string
          description: Fifth line of the street address
          maxLength: 500
        City:
          type: string
          description: City name
          maxLength: 255
        CountrySubDivisionCode:
          type: string
          description: Region or state within a country (e.g., state, province)
          maxLength: 255
        PostalCode:
          type: string
          description: Postal code
          maxLength: 30
        Country:
          type: string
          description: Country name or code
          maxLength: 255
        Lat:
          type: string
          description: Latitude coordinate
        Long:
          type: string
          description: Longitude coordinate

    EmailAddress:
      type: object
      description: Email address
      properties:
        Address:
          type: string
          format: email
          description: Email address string
          maxLength: 100

    TelephoneNumber:
      type: object
      description: Telephone number
      properties:
        FreeFormNumber:
          type: string
          description: Telephone number in free-form format
          maxLength: 30

    MetaData:
      type: object
      description: Metadata about when the entity was created and last updated
      properties:
        CreateTime:
          type: string
          format: date-time
          description: Time the entity was created
        LastUpdatedTime:
          type: string
          format: date-time
          description: Time the entity was last updated

    LinkedTxn:
      type: object
      description: >-
        A reference to a linked transaction such as an invoice, payment,
        or credit memo
      properties:
        TxnId:
          type: string
          description: Transaction ID of the related transaction
        TxnType:
          type: string
          description: The type of the linked transaction
          enum:
            - Invoice
            - Payment
            - CreditMemo
            - Estimate
            - SalesReceipt
            - JournalEntry
            - Expense
            - StatementCharge
            - ReimburseCharge
      required:
        - TxnId
        - TxnType

    SalesItemLineDetail:
      type: object
      description: Detail for a sales item line
      properties:
        ItemRef:
          $ref: "#/components/schemas/ReferenceType"
        ClassRef:
          $ref: "#/components/schemas/ReferenceType"
        UnitPrice:
          type: number
          description: Unit price of the item
        RatePercent:
          type: number
          description: The discount rate as a percentage (for discount lines)
        Qty:
          type: number
          description: Number of items for the line
        ItemAccountRef:
          $ref: "#/components/schemas/ReferenceType"
        TaxCodeRef:
          $ref: "#/components/schemas/ReferenceType"
        ServiceDate:
          type: string
          format: date
          description: Date the service was performed
        DiscountAmt:
          type: number
          description: Discount amount applied to the line
        DiscountRate:
          type: number
          description: Discount rate as a percentage

    InvoiceLine:
      type: object
      description: A line item on an invoice
      properties:
        Id:
          type: string
          description: The unique identifier for the line item
        LineNum:
          type: integer
          description: Line number within the transaction
        Description:
          type: string
          description: Free-form text description of the line item
          maxLength: 4000
        Amount:
          type: number
          description: The total amount for the line item
        DetailType:
          type: string
          description: Specifies the type of line detail
          enum:
            - SalesItemLineDetail
            - GroupLineDetail
            - DescriptionOnly
            - DiscountLineDetail
            - SubTotalLineDetail
        SalesItemLineDetail:
          $ref: "#/components/schemas/SalesItemLineDetail"
        LinkedTxn:
          type: array
          items:
            $ref: "#/components/schemas/LinkedTxn"
      required:
        - Amount
        - DetailType

    TxnTaxDetail:
      type: object
      description: Tax details for a transaction
      properties:
        TxnTaxCodeRef:
          $ref: "#/components/schemas/ReferenceType"
        TotalTax:
          type: number
          description: Total tax calculated for the transaction
        TaxLine:
          type: array
          items:
            type: object
            properties:
              Amount:
                type: number
                description: Tax amount for this tax line
              DetailType:
                type: string
                enum:
                  - TaxLineDetail
              TaxLineDetail:
                type: object
                properties:
                  TaxRateRef:
                    $ref: "#/components/schemas/ReferenceType"
                  PercentBased:
                    type: boolean
                  TaxPercent:
                    type: number
                  NetAmountTaxable:
                    type: number

    CustomField:
      type: object
      description: Custom field defined for the entity
      properties:
        DefinitionId:
          type: string
          description: Unique identifier of the custom field definition
        Name:
          type: string
          description: Name of the custom field
        Type:
          type: string
          description: Data type of the custom field
          enum:
            - StringType
            - BooleanType
            - NumberType
            - DateType
        StringValue:
          type: string
          description: Value when Type is StringType

    Invoice:
      type: object
      description: >-
        An Invoice represents a sales form where the customer pays for a
        product or service later. It creates an accounts receivable
        transaction.
      properties:
        Id:
          type: string
          description: Unique identifier for the invoice (assigned by QuickBooks)
          readOnly: true
        SyncToken:
          type: string
          description: >-
            Version number of the entity, used for optimistic locking.
            Required for updates.
        MetaData:
          $ref: "#/components/schemas/MetaData"
          readOnly: true
        DocNumber:
          type: string
          description: >-
            Reference number for the transaction. If not provided, QuickBooks
            auto-generates one.
          maxLength: 21
        TxnDate:
          type: string
          format: date
          description: The date of the transaction. Defaults to the current date.
        DueDate:
          type: string
          format: date
          description: Date when the payment of the transaction is due
        PrivateNote:
          type: string
          description: A private note that is not displayed to the customer
          maxLength: 4000
        CustomerMemo:
          type: object
          description: A note to the customer displayed on the invoice
          properties:
            value:
              type: string
              maxLength: 1000
        CustomerRef:
          $ref: "#/components/schemas/ReferenceType"
        BillAddr:
          $ref: "#/components/schemas/PhysicalAddress"
        ShipAddr:
          $ref: "#/components/schemas/PhysicalAddress"
        BillEmail:
          $ref: "#/components/schemas/EmailAddress"
        Line:
          type: array
          description: >-
            Individual line items of the transaction. At least one line
            is required.
          items:
            $ref: "#/components/schemas/InvoiceLine"
          minItems: 1
        TxnTaxDetail:
          $ref: "#/components/schemas/TxnTaxDetail"
        TotalAmt:
          type: number
          description: Total amount of the transaction including tax
          readOnly: true
        Balance:
          type: number
          description: >-
            The balance remaining on the invoice. A value of 0 indicates
            the invoice is fully paid.
          readOnly: true
        Deposit:
          type: number
          description: Deposit amount applied to the invoice
        DepositToAccountRef:
          $ref: "#/components/schemas/ReferenceType"
        SalesTermRef:
          $ref: "#/components/schemas/ReferenceType"
        PaymentMethodRef:
          $ref: "#/components/schemas/ReferenceType"
        CurrencyRef:
          $ref: "#/components/schemas/ReferenceType"
        ExchangeRate:
          type: number
          description: Currency exchange rate (multicurrency enabled companies)
        ShipDate:
          type: string
          format: date
          description: Date for delivery of goods or services
        ShipMethodRef:
          $ref: "#/components/schemas/ReferenceType"
        TrackingNum:
          type: string
          description: Shipping tracking number
        ApplyTaxAfterDiscount:
          type: boolean
          description: Whether to apply tax after discount
        PrintStatus:
          type: string
          description: Printing status of the invoice
          enum:
            - NotSet
            - NeedToPrint
            - PrintComplete
        EmailStatus:
          type: string
          description: Email delivery status of the invoice
          enum:
            - NotSet
            - NeedToSend
            - EmailSent
        GlobalTaxCalculation:
          type: string
          description: Method in which tax is applied
          enum:
            - TaxExcluded
            - TaxInclusive
            - NotApplicable
        AllowOnlinePayment:
          type: boolean
          description: Whether online payment is allowed
        AllowOnlineCreditCardPayment:
          type: boolean
          description: Whether online credit card payment is allowed
        AllowOnlineACHPayment:
          type: boolean
          description: Whether online ACH (bank) payment is allowed
        CustomField:
          type: array
          items:
            $ref: "#/components/schemas/CustomField"
          maxItems: 3
        LinkedTxn:
          type: array
          items:
            $ref: "#/components/schemas/LinkedTxn"
        domain:
          type: string
          description: Domain (e.g., QBO)
          readOnly: true
        sparse:
          type: boolean
          description: Whether this is a sparse (partial) representation
      required:
        - CustomerRef
        - Line

    InvoiceResponse:
      type: object
      properties:
        Invoice:
          $ref: "#/components/schemas/Invoice"
        time:
          type: string
          format: date-time
          description: Timestamp of the response

    Customer:
      type: object
      description: >-
        A Customer represents a consumer of the service or product that the
        business offers. Customers can be organized as sub-customers (jobs)
        within a parent customer hierarchy.
      properties:
        Id:
          type: string
          description: Unique identifier for the customer
          readOnly: true
        SyncToken:
          type: string
          description: Version number for optimistic locking
        MetaData:
          $ref: "#/components/schemas/MetaData"
          readOnly: true
        Title:
          type: string
          description: Title of the person (e.g., Mr., Mrs., Ms.)
          maxLength: 16
        GivenName:
          type: string
          description: Given (first) name of the customer
          maxLength: 100
        MiddleName:
          type: string
          description: Middle name of the customer
          maxLength: 100
        FamilyName:
          type: string
          description: Family (last) name of the customer
          maxLength: 100
        Suffix:
          type: string
          description: Suffix of the person (e.g., Jr., Sr., III)
          maxLength: 16
        DisplayName:
          type: string
          description: >-
            The name displayed to identify the customer. Must be unique
            across Customer, Employee, and Vendor objects.
          maxLength: 500
        CompanyName:
          type: string
          description: The name of the company associated with the customer
          maxLength: 500
        PrintOnCheckName:
          type: string
          description: Name of the customer as printed on a check
          maxLength: 110
        Active:
          type: boolean
          description: Whether the customer is currently active
          default: true
        Taxable:
          type: boolean
          description: Whether the customer is taxable
        PrimaryEmailAddr:
          $ref: "#/components/schemas/EmailAddress"
        PrimaryPhone:
          $ref: "#/components/schemas/TelephoneNumber"
        Mobile:
          $ref: "#/components/schemas/TelephoneNumber"
        Fax:
          $ref: "#/components/schemas/TelephoneNumber"
        AlternatePhone:
          $ref: "#/components/schemas/TelephoneNumber"
        BillAddr:
          $ref: "#/components/schemas/PhysicalAddress"
        ShipAddr:
          $ref: "#/components/schemas/PhysicalAddress"
        Notes:
          type: string
          description: Free-form text about the customer
          maxLength: 2000
        Job:
          type: boolean
          description: Whether this customer is a sub-customer (job)
        ParentRef:
          $ref: "#/components/schemas/ReferenceType"
        Level:
          type: integer
          description: Depth level in the customer hierarchy (0 = top)
          readOnly: true
        FullyQualifiedName:
          type: string
          description: >-
            Fully qualified name of the entity, including parent names
            separated by colons
          readOnly: true
        CurrencyRef:
          $ref: "#/components/schemas/ReferenceType"
        PreferredDeliveryMethod:
          type: string
          description: Preferred delivery method for communications
          enum:
            - Print
            - Email
            - None
        Balance:
          type: number
          description: Open balance amount for the customer
          readOnly: true
        BalanceWithJobs:
          type: number
          description: >-
            Open balance amount including balances of sub-customers (jobs)
          readOnly: true
        SalesTermRef:
          $ref: "#/components/schemas/ReferenceType"
        PaymentMethodRef:
          $ref: "#/components/schemas/ReferenceType"
        TaxExemptionReasonId:
          type: string
          description: Tax exemption reason ID
        WebAddr:
          type: object
          properties:
            URI:
              type: string
              format: uri
              description: Website address
        domain:
          type: string
          readOnly: true
        sparse:
          type: boolean
      required:
        - DisplayName

    CustomerResponse:
      type: object
      properties:
        Customer:
          $ref: "#/components/schemas/Customer"
        time:
          type: string
          format: date-time

    Item:
      type: object
      description: >-
        An Item represents a product or service that a company buys, sells,
        or re-sells. Items are used in line items on invoices, sales receipts,
        bills, and other transactions.
      properties:
        Id:
          type: string
          description: Unique identifier for the item
          readOnly: true
        SyncToken:
          type: string
          description: Version number for optimistic locking
        MetaData:
          $ref: "#/components/schemas/MetaData"
          readOnly: true
        Name:
          type: string
          description: Name of the item. Must be unique within the same type.
          maxLength: 100
        Description:
          type: string
          description: Description of the item used in sales transactions
          maxLength: 4000
        PurchaseDesc:
          type: string
          description: Description of the item used in purchase transactions
          maxLength: 4000
        Active:
          type: boolean
          description: Whether the item is currently active
          default: true
        FullyQualifiedName:
          type: string
          description: Fully qualified name of the item
          readOnly: true
        Taxable:
          type: boolean
          description: Whether sales of this item are taxable
        SalesTaxIncluded:
          type: boolean
          description: Whether the sales tax is included in the item amount
        UnitPrice:
          type: number
          description: Sales price for this item
        Type:
          type: string
          description: Classification of the item
          enum:
            - Inventory
            - NonInventory
            - Service
            - Group
            - Category
            - Bundle
        PurchaseCost:
          type: number
          description: Purchase cost of the item
        QtyOnHand:
          type: number
          description: Current quantity on hand (inventory items only)
        InvStartDate:
          type: string
          format: date
          description: Date of opening balance for inventory items
        TrackQtyOnHand:
          type: boolean
          description: Whether quantity on hand is tracked
        Sku:
          type: string
          description: Stock keeping unit identifier
          maxLength: 100
        IncomeAccountRef:
          $ref: "#/components/schemas/ReferenceType"
        ExpenseAccountRef:
          $ref: "#/components/schemas/ReferenceType"
        AssetAccountRef:
          $ref: "#/components/schemas/ReferenceType"
        ParentRef:
          $ref: "#/components/schemas/ReferenceType"
        SubItem:
          type: boolean
          description: Whether this is a sub-item
        Level:
          type: integer
          description: Depth level in the item hierarchy
          readOnly: true
        SalesTaxCodeRef:
          $ref: "#/components/schemas/ReferenceType"
        PurchaseTaxCodeRef:
          $ref: "#/components/schemas/ReferenceType"
        ClassRef:
          $ref: "#/components/schemas/ReferenceType"
        AbatementRate:
          type: number
          readOnly: true
        ReverseChargeRate:
          type: number
          readOnly: true
        domain:
          type: string
          readOnly: true
        sparse:
          type: boolean
      required:
        - Name
        - Type

    ItemResponse:
      type: object
      properties:
        Item:
          $ref: "#/components/schemas/Item"
        time:
          type: string
          format: date-time

    PaymentLine:
      type: object
      description: A line item on a payment showing how it is applied
      properties:
        Amount:
          type: number
          description: Amount to apply from this payment
        LinkedTxn:
          type: array
          items:
            $ref: "#/components/schemas/LinkedTxn"
      required:
        - Amount
        - LinkedTxn

    Payment:
      type: object
      description: >-
        A Payment records a payment received from a customer. Payments can be
        applied to one or more outstanding invoices, or left as unapplied
        credit.
      properties:
        Id:
          type: string
          description: Unique identifier for the payment
          readOnly: true
        SyncToken:
          type: string
          description: Version number for optimistic locking
        MetaData:
          $ref: "#/components/schemas/MetaData"
          readOnly: true
        TxnDate:
          type: string
          format: date
          description: The date of the payment transaction
        TotalAmt:
          type: number
          description: Total amount of the payment
        CustomerRef:
          $ref: "#/components/schemas/ReferenceType"
        DepositToAccountRef:
          $ref: "#/components/schemas/ReferenceType"
        PaymentMethodRef:
          $ref: "#/components/schemas/ReferenceType"
        PaymentRefNum:
          type: string
          description: Reference number for the payment (e.g., check number)
          maxLength: 21
        CurrencyRef:
          $ref: "#/components/schemas/ReferenceType"
        ExchangeRate:
          type: number
          description: Currency exchange rate
        Line:
          type: array
          description: >-
            Lines indicating which invoices or credit memos this payment
            is applied against
          items:
            $ref: "#/components/schemas/PaymentLine"
        PrivateNote:
          type: string
          description: Private note for internal use
          maxLength: 4000
        UnappliedAmt:
          type: number
          description: Amount not yet applied to invoices
          readOnly: true
        ProcessPayment:
          type: boolean
          description: >-
            Whether to process the payment through the Intuit payment gateway
        TxnSource:
          type: string
          description: Source of the transaction
          readOnly: true
        domain:
          type: string
          readOnly: true
        sparse:
          type: boolean
      required:
        - CustomerRef
        - TotalAmt

    PaymentResponse:
      type: object
      properties:
        Payment:
          $ref: "#/components/schemas/Payment"
        time:
          type: string
          format: date-time

    QueryResponse:
      type: object
      description: >-
        Response wrapper for query operations. Contains the array of matching
        entities along with pagination metadata.
      properties:
        QueryResponse:
          type: object
          properties:
            startPosition:
              type: integer
              description: Starting position of the results
            maxResults:
              type: integer
              description: Maximum number of results returned
            totalCount:
              type: integer
              description: Total count of matching entities
            Invoice:
              type: array
              items:
                $ref: "#/components/schemas/Invoice"
            Customer:
              type: array
              items:
                $ref: "#/components/schemas/Customer"
            Item:
              type: array
              items:
                $ref: "#/components/schemas/Item"
            Payment:
              type: array
              items:
                $ref: "#/components/schemas/Payment"
        time:
          type: string
          format: date-time

    Error:
      type: object
      description: Error response from the API
      properties:
        Fault:
          type: object
          properties:
            Error:
              type: array
              items:
                type: object
                properties:
                  Message:
                    type: string
                    description: A short human-readable summary of the error
                  Detail:
                    type: string
                    description: Detailed description of the error
                  code:
                    type: string
                    description: Intuit-specific error code
                  element:
                    type: string
                    description: The element that caused the error
            type:
              type: string
              description: The type of fault
              enum:
                - ValidationFault
                - SystemFault
                - AuthenticationFault
                - AuthorizationFault
        time:
          type: string
          format: date-time

  responses:
    BadRequest:
      description: >-
        The request was invalid. This can occur due to missing required fields,
        validation errors, or malformed request body.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: >-
        Authentication failed. The OAuth 2.0 access token is missing, expired,
        or invalid.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Forbidden:
      description: >-
        The authenticated user does not have permission to perform this
        operation on the specified resource.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: The requested resource was not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    InternalError:
      description: An internal error occurred on the server
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
